:root {
    --tc-body-font-family: 'Urbanist',sans-serif;
    --tc-heading-font-family: 'Urbanist',sans-serif;
    --tc-display-font-family: 'Urbanist',sans-serif;
    --tc-body-font-size: 16px;
    --tc-fs-1: 40px;
    --tc-fs-2: 33px;
    --tc-fs-3: 28px;
    --tc-fs-4: 23px;
    --tc-fs-5: 19px;
    --tc-fs-6: 16px;
    --tc-fs-7: 14px;
    --tc-fs-8: 12px;
    --tc-ds-1: 80px;
    --tc-ds-2: 72px;
    --tc-ds-3: 64px;
    --tc-body-line-height: 1.5;
    --tc-heading-line-height: 1.2;
    --tc-theme-primary-1: #6e4ef2;
    --tc-theme-primary-2: #62a92b;
    --tc-theme-primary-3: #be6895;
    --tc-theme-secondary-1: #f1f2f3;
    --tc-theme-secondary-3: #b2a4ab;
    --tc-theme-dark-primary-1: #6e4ef2;
    --tc-theme-dark-primary-2: #a8ff53;
    --tc-theme-dark-primary-3: #fcc6e2;
    --tc-theme-dark-secondary-1: #21212d;
    --tc-theme-dark-secondary-2: #f778ba;
    --tc-theme-dark-secondary-3: #40363b;
    --tc-neutral-0: #1f1f24;
    --tc-neutral-00: #1f1f24;
    --tc-neutral-100: #272730;
    --tc-neutral-200: #565662;
    --tc-neutral-300: #5e5e65;
    --tc-neutral-400: #6d6d72;
    --tc-neutral-500: #858587;
    --tc-neutral-600: #969698;
    --tc-neutral-700: #b2b2ba;
    --tc-neutral-800: #c5c5ca;
    --tc-neutral-900: #edeaf8;
    --tc-neutral-1000: #ffffff;
    --tc-system-success: #64e1b0;
    --tc-system-info: #5577a7;
    --tc-system-warning: #ffd45d;
    --tc-system-danger: #ec4040;
    --tc-system-muted: #9ca3af;
    --tc-system-dark-success: #10b983;
    --tc-system-dark-info: #0f172e;
    --tc-system-dark-warning: #fcd34e;
    --tc-system-dark-danger: #fca5a7;
    --tc-system-dark-muted: #9ca3af;
    --tc-bg-1: #edeaf8;
    --tc-bg-2: #6e4ef2;
    --tc-bg-3: #ffffff;
    --tc-bg-4: #fbf8f9;
    --tc-bg-5: #e8e8e8;
    --tc-bg-6: #f6f4fd;
    --tc-border-1: #c0dcbc;
    --tc-border-dark-1: #3b413d;
    --tc-linear-1: linear-gradient(90deg, #6d4df2 0%, #8c71ff 100%);
    --tc-linear-2: linear-gradient(-180deg, #6e4ef2 0%, transparent 100%);
    --tc-linear-3: linear-gradient(-180deg, #dfdfea 0%, rgba(223, 223, 234, 0.31) 31%, rgba(223, 223, 234, 0) 100%);
    --tc-linear-4: linear-gradient(-90deg, #33a381 0%, #129840 100%);
    --tc-linear-5: linear-gradient(-90deg, rgba(31, 31, 36, 0.45) 0%, rgb(31, 31, 36) 100%);
    --tc-linear-dark-1: linear-gradient(90deg, #6d4df2 0%, #8c71ff 100%);
    --tc-linear-dark-2: linear-gradient(-180deg, #6e4ef2 0%, transparent 100%);
    --tc-linear-dark-3: linear-gradient(-180deg, #5e5e63 0%, transparent 100%);
    --tc-linear-dark-4: linear-gradient(-90deg, #659932 0%, #a8ff53 100%);
    --tc-linear-dark-5: linear-gradient(-90deg, rgba(255, 255, 255, 0.32) 0%, rgb(255, 255, 255) 100%);
    --tc-shadow-1: 0 13px 35px -12px rgba(35, 35, 35, 0.1);
    --tc-shadow-2: 0px 0px 25px 0px rgba(0, 0, 0, 0.08);
    --tc-fw-black: 900;
    --tc-fw-extra-bold: 800;
    --tc-fw-bold: 700;
    --tc-fw-semi-bold: 600;
    --tc-fw-medium: 500;
    --tc-fw-regular: 400;
    --tc-fw-light: 300;
}

.icon_60 {
    width: 60px;
    height: 60px;
    line-height: 60px;
}

.icon-shape {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.icon_80 {
    width: 80px;
    height: 80px;
    line-height: 80px;
}

:root {
    --bs-primary-rgb: 110, 78, 242;
    --bs-dark-rgb: 31, 31, 36;
}

.text-200 {
    color: var(--tc-neutral-200) !important;
}

.text-300 {
    color: var(--tc-neutral-300) !important;
}

.text-400 {
    color: var(--tc-neutral-400) !important;
}

.text-dark {
    color: var(--tc-neutral-0) !important;
}

.text-primary-2 {
    color: var(--tc-theme-primary-2) !important;
}

.fill-primary-3 {
    fill: var(--tc-theme-primary-3) !important;
}

.text-linear-4 {
    background: var(--tc-linear-4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*=============================
	Typography css start
===============================*/
body {
    font-family: var(--tc-body-font-family);
    font-size: var(--tc-body-font-size);
    font-weight: var(--tc-fw-regular);
    color: var(--tc-neutral-200);
    line-height: var(--tc-body-line-height);
}
body.home-page-2 {
    background: var(--tc-bg-5);
    font-family: "DM Mono", monospace;
}
body.home-page-2 a:hover {
    color: var(--tc-theme-primary-2);
    text-decoration: none;
}

s .fs-1 {
    font-size: var(--tc-fs-1) !important;
}

.fs-2 {
    font-size: var(--tc-fs-2) !important;
}

.fs-3 {
    font-size: var(--tc-fs-3) !important;
}

.fs-4 {
    font-size: var(--tc-fs-4) !important;
}

.fs-5 {
    font-size: var(--tc-fs-5) !important;
}

.fs-6 {
    font-size: var(--tc-fs-6) !important;
}

.fs-7 {
    font-size: var(--tc-fs-7) !important;
}

.fs-8 {
    font-size: var(--tc-fs-8) !important;
}

.fs-26 {
    font-size: 26px;
}

.fs-18 {
    font-size: 18px;
}

.fs-50 {
    font-size: 50px !important;
}

.fs-60 {
    font-size: 60px !important;
}

.fs-96 {
    font-size: 96px !important;
}

.fs-300 {
    font-size: 300px !important;
}

.ds-1 {
    font-size: var(--tc-ds-1) !important;
}

.ds-2 {
    font-size: var(--tc-ds-2) !important;
}

.ds-3 {
    font-size: var(--tc-ds-3) !important;
}

.h1 {
    font-size: 60px !important;
    font-weight: bold;
}

.h2 {
    font-size: 48px;
    font-weight: bold;
}

.h3 {
    font-size: 38px;
    font-weight: bold;
}

.h4 {
    font-size: 31px;
    font-weight: bold;
}

.h5 {
    font-size: 25px;
    font-weight: bold;
}

.h6 {
    font-size: 20px;
    font-weight: bold;
}

.fw-medium {
    font-weight: var(--tc-fw-medium);
}

i {
    font-size: 24px;
    line-height: 24px;
}

img,
.img {
    max-width: 100%;
    transition: 0.3s;
}

a,
button {
    color: var(--tc-neutral-0);
    outline: none;
    text-decoration: none;
    transition: 0.3s;
}

a:focus,
.btn:focus,
.button:focus {
    text-decoration: none;
    outline: none;
    box-shadow: none;
}

a:hover {
    color: var(--tc-theme-primary-1);
    text-decoration: none;
}

.btn {
    --bs-btn-padding-x: 24px;
    --bs-btn-padding-y: 17px;
    --bs-btn-font-family: "Urbanist", sans-serif;
    --bs-btn-font-size: 14px;
    --bs-btn-font-weight: 700;
    --bs-btn-line-height: 14px;
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-bg: transparent;
    --bs-btn-border-width: var(--bs-border-width);
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 15px;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), 0.5);
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background: var(--bs-btn-bg);
    transition: all 0.3s ease-in-out;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.btn-gradient {
    --bs-btn-color: #ffffff;
    --bs-btn-bg: var(--tc-linear-1);
    --bs-btn-border-color: none;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: var(--tc-linear-1);
    --bs-btn-hover-border-color: none;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: var(--tc-linear-1);
    --bs-btn-active-border-color: var(--tc-linear-1);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--tc-neutral-0);
    --bs-btn-disabled-bg: var(--tc-theme-primary-1);
    --bs-btn-disabled-border-color: var(--tc-theme-primary-1);
}

.btn-primary-2 {
    --bs-btn-color: var(--tc-neutral-1000);
    --bs-btn-bg: var(--tc-theme-primary-2);
    --bs-btn-border-color: none;
    --bs-btn-hover-color: var(--tc-neutral-1000);
    --bs-btn-hover-bg: var(--tc-theme-primary-2);
    --bs-btn-hover-border-color: none;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: var(--tc-neutral-0);
    --bs-btn-active-bg: var(--tc-theme-primary-2);
    --bs-btn-active-border-color: var(--tc-theme-primary-2);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--tc-neutral-0);
    --bs-btn-disabled-bg: var(--tc-theme-primary-2);
    --bs-btn-disabled-border-color: var(--tc-theme-primary-2);
}

.btn-secondary-3 {
    --bs-btn-color: var(--tc-neutral-0);
    --bs-btn-bg: var(--tc-theme-secondary-3);
    --bs-btn-border-color: none;
    --bs-btn-hover-color: var(--tc-neutral-0);
    --bs-btn-hover-bg: var(--tc-theme-secondary-3);
    --bs-btn-hover-border-color: none;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: var(--tc-neutral-0);
    --bs-btn-active-bg: var(--tc-theme-secondary-3);
    --bs-btn-active-border-color: var(--tc-theme-secondary-3);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--tc-neutral-0);
    --bs-btn-disabled-bg: var(--tc-theme-secondary-3);
    --bs-btn-disabled-border-color: var(--tc-theme-secondary-3);
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
    outline: 0;
}

.form-control {
    background: var(--tc-neutral-1000) !important;
    min-height: 58px !important;
    color: var(--tc-neutral-0) !important;
}
.form-control::placeholder {
    color: var(--tc-neutral-400) !important;
}
.form-control:focus {
    border-color: var(--tc-neutral-800) !important;
    box-shadow: none;
}

body.home-page-2 h1,
body.home-page-2 h2,
body.home-page-2 h3,
body.home-page-2 h4,
body.home-page-2 h5,
body.home-page-2 h6 {
    font-family: "DM Mono", monospace;
    font-weight: var(--tc-fw-medium);
}
body.home-page-2 p {
    font-family: "DM Mono", monospace;
    font-weight: var(--tc-fw-regular);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--tc-heading-font-family);
    color: var(--tc-neutral-0);
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: var(--tc-fw-bold);
    line-height: var(--tc-heading-line-height);
    text-transform: unset;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}

h1 {
    font-size: 49px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 35px;
}

h4 {
    font-size: 29px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 20px;
}

.list-wrap {
    margin: 0;
    padding: 0;
}
.list-wrap li {
    list-style: none;
}

p {
    font-family: var(--tc-body-font-family);
    font-size: var(--tc-body-font-size);
    line-height: var(--tc-body-line-height);
    font-weight: var(--tc-fw-medium);
    color: var(--tc-neutral-200);
    margin-bottom: 15px;
}

label {
    color: #000000;
    cursor: pointer;
    font-size: var(--tc-body-font-size);
    font-weight: var(--tc-fw-medium);
}

input[type=color] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    padding: 0;
    border-radius: 50%;
}

/*=============================
    - Input Placeholder
===============================*/
input,
textarea {
    color: white;
}

*::-moz-placeholder {
    color: white;
    font-size: var(--tc-body-font-size);
    opacity: 1;
}

*::placeholder {
    color: white;
    font-size: var(--tc-body-font-size);
    opacity: 1;
}

/*=============================
    - Common Classes
===============================*/
.clear {
    clear: both;
}

:root {
    --bs-primary-rgb: 110, 78, 242;
    --bs-dark-rgb: 31, 31, 36;
}

.shadow-1 {
    box-shadow: var(--tc-shadow-1);
}

.shadow-2 {
    box-shadow: var(--tc-shadow-2);
}

.text-100 {
    color: var(--tc-neutral-100) !important;
}

.text-100-keep {
    color: #f3f4f6 !important;
}

.text-200 {
    color: var(--tc-neutral-200) !important;
}

.text-300 {
    color: var(--tc-neutral-300) !important;
}

.text-400 {
    color: var(--tc-neutral-400) !important;
}

.text-500 {
    color: var(--tc-neutral-500);
}

.text-600 {
    color: var(--tc-neutral-600) !important;
}

.text-600-keep {
    color: #4b5563 !important;
}

.text-700 {
    color: var(--tc-neutral-700) !important;
}

.text-900 {
    color: var(--tc-neutral-900) !important;
}

.py-188 {
    padding: 188px 0;
}

.py-150 {
    padding: 150px 0;
}

.py-120 {
    padding: 120px 0;
}

.py-130 {
    padding: 130px 0;
}

.pt-150 {
    padding-top: 150px;
}

.pt-160 {
    padding-top: 160px;
}

.pb-160 {
    padding-bottom: 160px;
}

.pb-150 {
    padding-bottom: 150px;
}

.pt-170 {
    padding-top: 170px;
}

.pb-120 {
    padding-bottom: 120px;
}

.pt-120 {
    padding-top: 120px;
}

.pt-130 {
    padding-top: 130px;
}

.pb-130 {
    padding-bottom: 130px;
}

.pb-138 {
    padding-bottom: 138px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pb-110 {
    padding-bottom: 110px;
}

.pt-110 {
    padding-top: 110px;
}

.mb-110 {
    margin-bottom: 110px;
}

.mt-110 {
    margin-top: 110px;
}

.mt--65 {
    margin-top: -65px;
}

.pt-200 {
    padding-top: 200px;
}

.pb-200 {
    padding-bottom: 200px;
}

.pb-250 {
    padding-bottom: 250px;
}

.pt-250 {
    padding-top: 250px;
}

.pt-96 {
    padding-top: 96px;
}

.py-90 {
    padding: 90px 0;
}

.py-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.my-90 {
    margin: 90px 0;
}

.py-86 {
    padding: 86px;
}

.pb-200 {
    padding-bottom: 200px;
}

.w-40 {
    width: 40%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-10 {
    margin-bottom: 10px;
}

.pt-110 {
    padding-top: 110px;
}

.pb-110 {
    padding-bottom: 110px;
}

.pt-60 {
    padding-top: 60px;
}

.pt-70 {
    padding-top: 70px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pt-80 {
    padding-top: 80px;
}

.pb-80 {
    padding-bottom: 80px;
}

.mt-80 {
    margin-top: 80px;
}

.mb-80 {
    margin-bottom: 80px;
}

.m-0 {
    margin: 0 !important;
}

.m-1 {
    margin: 0.25rem !important;
}

.m-2 {
    margin: 0.5rem !important;
}

.m-3 {
    margin: 1rem !important;
}

.m-4 {
    margin: 1.5rem !important;
}

.m-5 {
    margin: 2rem !important;
}

.m-6 {
    margin: 2.5rem !important;
}

.m-7 {
    margin: 3rem !important;
}

.m-8 {
    margin: 4rem !important;
}

.m-9 {
    margin: 5rem !important;
}

.m-10 {
    margin: 6rem !important;
}

.m-auto {
    margin: auto !important;
}

.mx-3 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
}

.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.my-1 {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
}

.my-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

.my-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.my-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

.my-5 {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

.my-6 {
    margin-top: 2.5rem !important;
    margin-bottom: 2.5rem !important;
}

.my-7 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

.my-8 {
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
}

.my-9 {
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
}

.my-10 {
    margin-top: 6rem !important;
    margin-bottom: 6rem !important;
}

.mt-2 {
    margin-top: 0.5rem !important;
}

.mt-3 {
    margin-top: 1rem !important;
}

.mt-4 {
    margin-top: 1.5rem !important;
}

.mt-5 {
    margin-top: 2rem !important;
}

.mt-6 {
    margin-top: 2.5rem !important;
}

.mt-7 {
    margin-top: 3rem !important;
}

.me-0 {
    margin-right: 0 !important;
}

.me-1 {
    margin-right: 0.25rem !important;
}

.me-2 {
    margin-right: 0.5rem !important;
}

.me-3 {
    margin-right: 1rem !important;
}

.me-4 {
    margin-right: 1.5rem !important;
}

.me-5 {
    margin-right: 2rem !important;
}

.me-6 {
    margin-right: 2.5rem !important;
}

.me-7 {
    margin-right: 3rem !important;
}

.me-8 {
    margin-right: 4rem !important;
}

.me-9 {
    margin-right: 5rem !important;
}

.me-10 {
    margin-right: 6rem !important;
}

.me-auto {
    margin-right: auto !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-1 {
    margin-bottom: 0.25rem !important;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.mb-5 {
    margin-bottom: 2rem !important;
}

.mb-6 {
    margin-bottom: 2.5rem !important;
}

.mb-7 {
    margin-bottom: 3rem !important;
}

.mb-8 {
    margin-bottom: 4rem !important;
}

.mb-9 {
    margin-bottom: 5rem !important;
}

.mb-10 {
    margin-bottom: 6rem !important;
}

.mb-auto {
    margin-bottom: auto !important;
}

.ms-0 {
    margin-left: 0 !important;
}

.ms-1 {
    margin-left: 0.25rem !important;
}

.ms-2 {
    margin-left: 0.5rem !important;
}

.ms-3 {
    margin-left: 1rem !important;
}

.ms-4 {
    margin-left: 1.5rem !important;
}

.ms-5 {
    margin-left: 2rem !important;
}

.ms-6 {
    margin-left: 2.5rem !important;
}

.ms-7 {
    margin-left: 3rem !important;
}

.ms-8 {
    margin-left: 4rem !important;
}

.ms-9 {
    margin-left: 5rem !important;
}

.ms-10 {
    margin-left: 6rem !important;
}

.ms-auto {
    margin-left: auto !important;
}

.p-0 {
    padding: 0 !important;
}

.p-1 {
    padding: 0.25rem !important;
}

.p-2 {
    padding: 0.5rem !important;
}

.p-3 {
    padding: 1rem !important;
}

.p-4 {
    padding: 1.5rem !important;
}

.p-5 {
    padding: 2rem !important;
}

.p-6 {
    padding: 2.5rem !important;
}

.p-7 {
    padding: 3rem !important;
}

.p-8 {
    padding: 4rem !important;
}

.p-9 {
    padding: 5rem !important;
}

.p-10 {
    padding: 6rem !important;
}

.px-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.px-1 {
    padding-right: 0.25rem !important;
    padding-left: 0.25rem !important;
}

.px-2 {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
}

.px-3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.px-5 {
    padding-right: 2rem !important;
    padding-left: 2rem !important;
}

.px-6 {
    padding-right: 2.5rem !important;
    padding-left: 2.5rem !important;
}

.px-7 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
}

.px-8 {
    padding-right: 4rem !important;
    padding-left: 4rem !important;
}

.px-9 {
    padding-right: 5rem !important;
    padding-left: 5rem !important;
}

.px-10 {
    padding-right: 6rem !important;
    padding-left: 6rem !important;
}

.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.py-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}

.py-2 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.py-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

.py-5 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

.py-6 {
    padding-top: 2.5rem !important;
    padding-bottom: 2.5rem !important;
}

.py-7 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.py-8 {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}

.py-9 {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}

.py-10 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.pt-1 {
    padding-top: 0.25rem !important;
}

.pt-2 {
    padding-top: 0.5rem !important;
}

.pt-3 {
    padding-top: 1rem !important;
}

.pt-4 {
    padding-top: 1.5rem !important;
}

.pt-5 {
    padding-top: 2rem !important;
}

.pt-6 {
    padding-top: 2.5rem !important;
}

.pt-7 {
    padding-top: 3rem !important;
}

.pt-8 {
    padding-top: 4rem !important;
}

.pt-9 {
    padding-top: 5rem !important;
}

.pt-10 {
    padding-top: 6rem !important;
}

.pe-0 {
    padding-right: 0 !important;
}

.pe-1 {
    padding-right: 0.25rem !important;
}

.pe-2 {
    padding-right: 0.5rem !important;
}

.pe-3 {
    padding-right: 1rem !important;
}

.pe-4 {
    padding-right: 1.5rem !important;
}

.pe-5 {
    padding-right: 2rem !important;
}

.pe-6 {
    padding-right: 2.5rem !important;
}

.pe-7 {
    padding-right: 3rem !important;
}

.pe-8 {
    padding-right: 4rem !important;
}

.pe-9 {
    padding-right: 5rem !important;
}

.pe-10 {
    padding-right: 6rem !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pb-1 {
    padding-bottom: 0.25rem !important;
}

.pb-2 {
    padding-bottom: 0.5rem !important;
}

.pb-3 {
    padding-bottom: 1rem !important;
}

.pb-4 {
    padding-bottom: 1.5rem !important;
}

.pb-5 {
    padding-bottom: 2rem !important;
}

.pb-6 {
    padding-bottom: 2.5rem !important;
}

.pb-7 {
    padding-bottom: 3rem !important;
}

.pb-8 {
    padding-bottom: 4rem !important;
}

.pb-9 {
    padding-bottom: 5rem !important;
}

.pb-10 {
    padding-bottom: 6rem !important;
}

.ps-0 {
    padding-left: 0 !important;
}

.ps-3 {
    padding-left: 1rem !important;
}

.ps-5 {
    padding-left: 2rem !important;
}

.ps-9 {
    padding-left: 5rem !important;
}

.border-1 {
    --bs-border-color: var(--tc-border-1) !important;
}

.border-secondary-3 {
    --bs-border-color: var(--tc-theme-secondary-3) !important;
}

.box-linear-animation {
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0);
    background: linear-gradient(var(--tc-bg-3), var(--tc-bg-3)) padding-box, linear-gradient(var(--angle), var(--tc-bg-3) 90%, var(--tc-theme-primary-2) 100%) border-box;
    animation: 8s rotate linear infinite;
}

@keyframes rotate {
    to {--angle: 360deg;}
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@media (min-width: 768px) {
    .d-md-block {
        display: block !important;
    }
    .d-md-flex {
        display: flex !important;
    }
    .flex-md-row {
        flex-direction: row !important;
    }
    .p-md-6 {
        padding: 2.5rem !important;
    }
    .p-md-8 {
        padding: 4rem !important;
    }
    .border-start-md {
        border-left: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
}
@media (min-width: 992px) {
    .text-lg-white {
        color: white !important;
    }
    .d-lg-flex {
        display: flex !important;
    }
    .mx-lg-auto {
        margin-right: auto !important;
        margin-left: auto !important;
    }
    .me-lg-0 {
        margin-right: 0 !important;
    }
    .mb-lg-0 {
        margin-bottom: 0 !important;
    }
    .p-lg-0 {
        padding: 0 !important;
    }
    .p-lg-8 {
        padding: 4rem !important;
    }
    .pe-lg-0 {
        padding-right: 0 !important;
    }
    .pb-lg-0 {
        padding-bottom: 0 !important;
    }
    .ps-lg-5 {
        padding-left: 2rem !important;
    }
    .ps-lg-8 {
        padding-left: 4rem !important;
    }
    .text-lg-start {
        text-align: left !important;
    }
}
@media screen and (max-width: 992px) {
    br {
        display: none !important;
    }
    .navbar .dark-light-switcher {
        background: none;
    }
    .section-hero-2 .line-left {
        top: 22px !important;
        height: 90%;
        left: 4px;
    }
    .section-service-2 .card-servies-2 {
        padding: 70px 35px 35px 35px !important;
    }
}
@media screen and (max-width: 576px) {
    .section-skills-1 .skills {
        padding: 20px 20px 20px;
    }
    .section-service-2 .card-servies-2 {
        padding: 70px 30px 30px 30px !important;
    }
}

.z-999 {
    z-index: 999 !important;
}

.bg-3 {
    background-color: var(--tc-bg-3) !important;
}