.offCanvas__info {
    background: var(--tc-neutral-1000) none repeat scroll 0 0;
    height: 100%;
    padding: 30px;
    position: fixed;
    left: 0;
    top: 0;
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -moz-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -ms-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    width: 340px;
    z-index: 1500;
    overflow-y: scroll;
    transform: translateX(-100%);
}
.offCanvas__info.active {
    transform: translateX(0);
}
.offCanvas__info::-webkit-scrollbar {
    width: 0;
    display: none;
}
.offCanvas__info.style-2 .offCanvas__side-info {
    border-top: 1px solid var(--tc-theme-primary-2);
}
.offCanvas__info.style-2 .offCanvas__close-icon button {
    color: var(--tc-theme-primary-2);
}
.offCanvas__close-icon {
    margin-top: -16px;
    text-align: right;
}
.offCanvas__close-icon button {
    background: transparent;
    border: 0 none;
    color: var(--tc-theme-primary-1);
    cursor: pointer;
    font-size: 20px;
    padding: 0;
}
.offCanvas__logo img {
    max-height: 34px;
}
.offCanvas__side-info {
    border-top: 1px solid var(--tc-theme-primary-1);
    padding-top: 25px;
}
.offCanvas__side-info .contact-list h4 {
    color: var(--tc-neutral-0);
    font-weight: 700;
    font-size: 18px;
}
.offCanvas__side-info .contact-list p {
    color: var(--tc-neutral-200);
    margin: 0 0 2px;
    line-height: 26px;
}
.offCanvas__social-icon a {
    color: var(#6e4ef2);
    display: inline-block;
    margin-right: 20px;
    text-align: center;
}
.offCanvas__social-icon a:hover {
    color: var(#f1f2f3);
}
.offCanvas__overly {
    position: fixed;
    background: #000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition-duration: 0.3s;
}
.offCanvas__overly.active {
    opacity: 0.7;
    visibility: visible;
    transition-duration: 0.3s;
}

.offcanvas-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}
